$grid-gutter: 8px;

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;

  @media (min-width: $bp-desktop) {
    width: $bp-desktop - 16px;
  }
  @media (min-width: $bp-large) {
    width: $bp-large - 16px;
  }

  &_no-paddings {
    padding: 0;
  }
}

.row {
  @include clearfix;
  margin: {
    left: -$grid-gutter;
    right: -$grid-gutter;
  };

  &>[class*="col-"] {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: {
      left: $grid-gutter;
      right: $grid-gutter;
    };
  }
  &>.col-t-25 {
    @media (min-width: $bp-tablet) {
      width: 25%;
    }
  }
  &>.col-t-33 {
    @media (min-width: $bp-tablet) {
      width: 33.33%;
    }
  }
  &>.col-t-50 {
    @media (min-width: $bp-tablet) {
      width: 50%;
    }
  }
  &>.col-d-25 {
    @media (min-width: $bp-desktop) {
      width: 25%;
    }
  }
}
