input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  box-sizing: border-box;
  background-color: $white;
  padding: 8px;
  border: 1px solid $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  transition: border .2s, box-shadow .2s;

  &:focus {
    outline: 0;
    border: 1px solid $brand-color;
    box-shadow: 0 0 2px $brand-color;
  }
}
select {
  @extend input[type="text"];
  padding-left: 4px;
  padding-right: 4px;
}
textarea {
  @extend input[type="text"];
  resize: none;
}

.form-group {
  &__title {
    margin: 16px 0 8px;
  }
}

.form-field {
  padding-bottom: 16px;

  &>label {
    display: block;
    padding-bottom: 4px;
  }
  &>input:not([type="checkbox"]),
  &>input:not([type="radio"]),
  &>textarea,
  &>select {
    width: 100%;
  }
}
