input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  box-sizing: border-box;
  background-color: $white;
  padding: 4px 8px;
  border: 1px solid $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $text-color;
  transition: border .2s, box-shadow .2s;

  &:focus {
    outline: 0;
    border: 1px solid $brand-color;
    box-shadow: 0 0 2px $brand-color;
  }
  &:disabled {
    background-color: $light-gray;
  }
}
select {
  @extend input[type="text"];
  padding: 3px 4px;
}
textarea {
  @extend input[type="text"];
  resize: none;
}

.form-group {
  margin-bottom: 8px;
  border-bottom: 1px solid $gray;

  &:last-child {
    border-bottom-width: 0;
  }

  @media (min-width: $bp-tablet) {
    border-bottom-width: 0;
  }

  &__title {
    margin: 16px 0 8px;
  }
}

.form-field {
  padding-bottom: 16px;

  &>label {
    display: block;
    padding-bottom: 4px;
  }
  &>input:not([type="checkbox"]),
  &>input:not([type="radio"]),
  &>textarea,
  &>select {
    width: 100%;
  }
}

.radio-line {
  &-container {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &-row {
    display: table-row;
  }
  &-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    &:not(:last-child) {
      padding-right: 8px;
    }

    &>input[type="radio"] {
      display: none;
    }
    &>div {
      @extend input[type="text"];
      width: 100%;
      height: 100%;
    }
    &>div {
      cursor: pointer;
      background-color: $white;
      transition: all .2s;

      &:hover,
      &:focus {
        background-color: darken($white, 4);
      }
    }
    &>input[type="radio"]:checked + div {
      background-color: $brand-color;
      color: $white;

      &:hover,
      &:focus {
        background-color: hsl-lighten($brand-color, 2, 4);
      }
    }
  }
}
