.pagination {
  @include clearfix;
  padding: 8px 0 16px;

  &>a,
  &>span {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding: 8px 16px;
    color: $text-color;
    font-weight: bold;
    border: 2px solid $brand-color;
    transition: color .2s;

    &:not(:first-child) {
      margin-left: -1px;
    }

    &:not(span):hover,
    &:not(span):focus {
      color: $brand-color;
      text-decoration: none;
    }

    &.more {
      border: 0;
    }
    &.active {
      background-color: $brand-color;
      color: $white;
    }
  }
}
