.catalog-filter {
  position: relative;
  padding-top: 1px;
  padding-bottom: 16px;
  margin-top: 16px;
  background-color: $light-gray;

  &__hide-btn {
    float: right;
    display: none;

    @media (min-width: $bp-tablet) {
      display: initial;
    }

    &_mobile {
      top: 16px;
      right: 8px;

      &:after {
        box-shadow: 0 0 4px $gray;
      }

      @media (min-width: $bp-tablet) {
      }
    }
  }
}
