.catalog-categories {
  @include clearfix;
  padding: 0;
  margin: 0 -8px 16px;
  list-style: none;

  &__close-btn {
    top: 16px;
    right: 8px;
  }

  &-container {
    position: relative;
    padding-top: 1px;
    padding-bottom: 16px;
    background-color: $light-gray;
  }

  &>li {
    padding: 4px 8px;
    margin: 0;

    @media (min-width: $bp-tablet) {
      padding: 4px 8px 0;
      float: left;
    }

    &>a {
      color: $text-color;
      transition: color .2s;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $brand-color;
      }
    }
  }
}
