.top-contacts {
  float: right;

  &__phone {
    display: none;
    @media (min-width: $bp-desktop) {
      display: initial;
      color: $white;
      font-weight: bold;
      line-height: 48px;
      text-shadow: 1px 2px darken($brand-color, 16);

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }
  &__icon {
    display: inline-block;
    padding-top: 8px;
    
    @media (min-width: $bp-desktop) {
      display: none;
    }
  }
}
