.top-nav {
  position: relative;
  box-sizing: border-box;
  display: block;
  height: 48px;
  padding: 0 16px;
  background-color: $brand-color;
  @include clearfix;

  &.scrolled {
    position: fixed;
    top: -48px;
    left: 50%;
    transform: translateX(-50%);
    transition: top .3s;

    &.active {
      top: 0;
    }
  }

  &__menu-toggle {
    float: left;
    padding-top: 8px;

    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
  &__menu {
    display: none;

    &.active {
      display: block;
      list-style: none;
      position: absolute;
      top: 48px;
      left: 0;
      padding: 0;
      margin: 0;
      width: 100%;

      &>li:first-child {
        margin-left: 0;
      }
    }

    @media (min-width: $bp-tablet) {
      @include inline-menu;
      display: initial;
    }

    &>li {
      background-color: $brand-color;
      transition: background-color 0.15s;

      &:hover,
      &:focus {
        background-color: hsl-lighten($brand-color, 4, 12);
      }

      &:first-child {
        margin-left: -16px;
      }
      &.active {
        &>a {
          text-shadow: 1px 2px hsl-darken($brand-color, 32, 32);
          background-color: hsl-darken($brand-color, 16, 16);
        }
      }

      &>a {
        display: block;
        margin: 0;
        padding: 0 16px;
        height: 100%;
        line-height: 48px;
        font-weight: bold;
        color: $white;
        text-shadow: 1px 2px hsl-darken($brand-color, 16, 16);

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }
  }
}
