.clearfix {
  @include clearfix;
}

.p-t-16 {
  padding-top: 16px !important;
}
.p-b-16 {
  padding-bottom: 16px !important;
}

.block {
  display: block !important;
}

.hidden {
  display: none;

  &-tablet {
    display: none;

    @media (min-width: $bp-tablet) {
      display: initial;
    }
  }
  &-from-tablet {
    @media (min-width: $bp-tablet) {
      display: none;
    }
  }
}
