// -------------------- COLORS
$white: #fff;
$gray: #ccc;
$dark-gray: #777;
$light-gray: lighten($gray, 16);
$black: #000;

$red: #dd2d1c;

$text-color: #555;
$brand-color: $red;

// -------------------- BREAK POINTS
$bp-phone: 400px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large: 1200px;
